@import "../../theme";

.header-wrap {
  width: 100%;
  height: @layout-header-height;
  background-color: @layout-header-background;

  .header-content-wrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .position-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    .header-nav-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 20px;
      color: #fff;
      font-size: @font-size-base;
      user-select: none;
      text-decoration: none;

      &:hover, &.current {
        background-color: @layout-header-button-hover-background;
        cursor: pointer;
      }
    }

    .btn-homepage {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 48px;
      background-color: #e4007f;

      .anticon {
        color: #fff;
        font-size: 20px;
      }
    }
  }

  .icon-logo {
    margin-right: 35px;
  }
}
