@import "../../theme";

.upload-avatar-wrap {

  .title {
    font-size: 14px;
    color: #000;
  }

  .upload-avatar {
    position: relative;

    .ant-upload-select-picture-card {
      margin: 0;

      .ant-upload {
        padding: 6px;

        .avatar {
          width: 100%;
        }
        .upload-icon {
          font-size: 20px;
          position: absolute;
          top: 41px;
          left: 41px;
          z-index: 2;
        }
      }
    }
  }
}
