@import "../../theme";

.edit-new-class-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 570px;
  min-height: 90px;
  border-radius: 5px;
  border: 1px solid #898989;
  margin-bottom: 10px;
  position: relative;

  .new-course-content-wrap {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    .class-order {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      width: 60px;
      text-align: center;
    }

    .content-wrap {
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      .class-content-wrap {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        .class-content {
          width: 280px;
          font-size: 14px;
          line-height: 22px;
          color: #000;
          white-space: pre-wrap;

          .btn-add-courses {
            font-size: 14px;
            height: 20px;
            color: #e4007f;
            font-style: italic;
            box-shadow: 0 1px;
          }
        }
        .class-time {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;

          .btn-set-date {
            font-size: 14px;
            height: 20px;
            color: #e4007f;
            font-style: italic;
            box-shadow: 0 1px;
          }
          .time-format {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            line-height: 16px;
            color: #000;
            text-align: center;
            white-space: pre-wrap;
          }
        }
      }

      .btn-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60px;
        font-size: 12px;
        color: #fff;
        line-height: 16px;
        cursor: pointer;
        background-color: #e4007f;
        text-decoration: none;

        &:hover {
          background-color: #f19ec2;
        }
      }
    }
  }

  .add-course-content-popup {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: -60px;
    left: 60px;
    z-index: 3;
    width: 245px;

    .input-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      padding: 0 10px 0 15px;
      border-bottom: 1px solid #eee;

      .input-content {
        border: none;
        height: 100%;
        width: 190px;
        outline: none;
        font-size: 15px;
        color: #000;
      }
      .btn-add-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #8f8f8f;
        text-decoration: none;

        .anticon {
          font-size: 14px;
          color: #8f8f8f;
        }
      }
    }
    .content-list {
      display: flex;
      flex-direction: column;
      padding: 4px 0;
      height: 180px;
      overflow: auto;
      border-bottom: 1px solid #eee;

      .content-tem {
        display: inline-block;
        flex: 0 0 auto;
        padding: 0 14px;
        font-size: 15px;
        color: #bfbfbf;
        line-height: 24px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
          background-color: #f2f2f2;
        }

        .high-light {
          color: #f19ec2;
        }
      }
    }
    .content-tag-wrap {
      padding: 12px 8px;

      .title {
        font-size: 12px;
        color: #7d7d7d;
        text-align: left;
        margin-bottom: 2px;
      }
      .tags-wrap {

        .tag {
          font-size: 12px;
          line-height: 22px;
          color: #000;
          border: none;
          background-color: #eee;
          margin-bottom: 3px;

          &:hover, &.current {
            color: #fff;
            background-color: #e4007f;
          }
        }
      }
    }
  }
}

.edit-class-courses-modal {

  .ant-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .ant-radio-group {
      display: flex;

      .ant-radio-button-wrapper {
        display: flex;
        flex: 1;
        justify-content: center;
        width: 160px;
        color: #e4007f;
        border-color: #e4007f;

        &.ant-radio-button-wrapper-checked {
          background-color: #e4007f;
          color: #fff;
        }
      }
    }

    .modal-body-wrap {
      width: 100%;

      .search-courses-wrap {
        width: 100%;

        .select-major-wrap, .search-course {
          width: 100%;

          .title {
            font-size: 12px;
            font-weight: 700;
            color: #000;
            line-height: 1.5;
            letter-spacing: 2px;
            margin-bottom: 6px;
          }
          .ant-select {
            width: 100%;
          }
        }
        .search-course {
          margin-top: 20px;
        }
      }
    }
  }
}
