@import "../../theme";

.footer-wrap {
  width: 100%;
  height: @layout-footer-height;
  background-color: @layout-footer-background;
  position: relative;
  z-index: 1;

  .footer-content-wrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: @custom-layout-max-width;
    margin: 0 auto;

    span {
      font-size: 14px;
      color: #fff;
    }
  }
}
