// This project's UI is powered by Ant Design: https://ant.design/index-cn
// This is the global theme configuration for antd
// The whole reference is at here:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// Colors
@primary-color: #E21E79;
@custom-color-gray-dark: #444444;
@custom-color-gray: #ccc;
@custom-color-gray-light: #eee;
@custom-color-off-white: #fff;

// Layout
@layout-body-background: @custom-color-off-white;
@custom-layout-side-padding: 60px;
@custom-layout-max-width: 1200px;
@custom-layout-actual-width: @custom-layout-max-width - @custom-layout-side-padding * 2;
@custom-teacher-snapshot-wrapper-width: 700px;
@custom-teacher-snapshot-width: 550px;
@custom-teacher-snapshot-height: @custom-teacher-snapshot-width / 2;

// Header
@layout-header-background: @custom-color-gray-dark;
@layout-header-height: 48px;
@layout-header-padding: 0px @custom-layout-side-padding;

// Header button
@layout-header-button-hover-background: #707070;
@layout-header-button-active-background: #7d7d7d;

// Button
@btn-border-radius-base: 7px;

// Menu

// Footer
@layout-footer-background: @custom-color-gray-dark;
@layout-footer-padding: 0 50px;
@layout-footer-height: 40px;

// Font
@font-size-base: 14px;

// Sider
@layout-sider-background: transparent;

// Function
.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

// Media
@bp-desktop: 1600px; // Custom
@bp-laptop: 1440px; // Custom
@bp-tablet: 800px; // Custom
@bp-mobile: 480px; // Custom