@import "../../theme";

.sign-up-input-account-info {

  .ant-form {

    .input-captcha-wrap {
      align-items: flex-start;

      .btn-send-captcha-wrap {
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;

        .ant-btn {
          width: 100%;
        }
      }
    }

    .ant-form-item {
      margin-bottom: 19px;

      &:last-of-type {
        margin-bottom: 25px;
      }

      &.ant-form-item-with-help {
        margin-bottom: 0;

        &:last-of-type {
          margin-bottom: 6px;
        }
      }

      .ant-form-item-label {
        text-align: left;

        label {
          color: #000;
        }
      }
    }
  }
}
