@import "../../theme";

.teacher-course-plan {
  display: flex;
  padding-top: 40px;

  .module-wrap {
    display: flex;
    flex-direction: column;

    .list-wrap {
      display: flex;
      flex-direction: column;

      &.student-name-list {
        width: 130px;

        .student-name {
          font-size: 14px;
          padding: 5px 0;
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #000;
          background-color: #fff;
          text-align: center;
          text-decoration: none;

          &.current {
            background-color: #e4007f;
            color: #fff;

            &:hover {
              background-color: #e4007f;
              color: #fff;
            }
          }
          &:hover {
            background-color: #eee;
          }
        }
      }

      &.class-list {
        margin-bottom: 30px;

        .class-list-item {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .add-course-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 570px;
          height: 33px;
          border: 1px dashed #cacaca;
          border-radius: 5px;
          cursor: pointer;
          outline: none;

          &:hover {
            background-color: #fafafa;
          }

          .content {
            margin-left: 5px;
          }
        }
        .btn-lesson-plan-tip {
          align-self: flex-end;
          font-size: 12px;
          text-decoration: underline!important;
          font-style: italic;
          margin-top: 10px;
        }
      }
    }

    &.student-info {
      width: 240px;
      display: flex;
      flex: 1;
      flex-direction: column;

      .title {
        visibility: hidden;
      }
      .student-info-detail {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 18px;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;

        .xfolio-current-info-wrapper {
          margin-bottom: 10px;
        }
        .student-avatar {
          width: 100px;
          height: 100px;
          border: 1px solid #a2a2a2;
          border-radius: 4px;
          margin-bottom: 5px;
        }
      }
    }

    &.my-class-list {
      padding: 0 18px 40px 18px;

      .title {
        width: 570px;
      }
    }
  }
}
