// This file contains all global CSS rules
// Be very careful when adding new rules in here!!!
@import '../theme.less';

img {
  max-width: 100%;
}

.App-logo {
  font-weight: 900; 
  color: #fff;
  float: left;
  font-size: 28px;
}

.App-translucent {
  opacity: 0.1;
  pointer-events: none;
}

.App-avatar {
  width: 75px;
  height: 75px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  border-radius: 5px;
}

.App-Header {
  position: relative;
  width: 100%;
  z-index: 1;
}

.App-Content {
  position: relative;
  padding: 30px 50px;
  min-height: 100vh;
  max-width: @layout-max-width;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}

.App-tile {
  margin: 10px;
  padding: 25px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid @color-gray-light;
  .transition(border, 0.2s);

  &:hover {
    border-color: @primary-color;
  }
}
