@import "../theme";

.app_wrap {
  width: 100%;
  min-width: @layout-min-width;
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .ant-layout-header {
    padding: 0;
    position: relative;
    z-index: 10;
  }
  .ant-layout-content {
    display: flex;
    align-items: stretch;
    justify-content: center;

    .main-content-wrap {
      width: 100%;
      min-height: 100%;
    }
  }
}