@import "../../theme";

.teachers-wrap {
  width: @custom-layout-actual-width;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .ant-anchor-wrapper {
    padding-left: 0;
    margin-left: 0;

    .ant-anchor-ink {
      display: none;
    }
  }

  .teachers-filter-wrap {
    width: 230px;
    padding: 45px 0 60px 0;

    .filter-item-wrap {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      .title {
        font-size: 12px;
        font-weight: 700;
      }

      .ant-divider {
        margin: 0;
      }

      .ant-select {
        width: 220px;
        margin-top: 4px;
      }
    }
  }

  .teacher-list-wrap {
    width: @custom-teacher-snapshot-wrapper-width;
    padding: 45px 0 60px 0;

    .ant-pagination {
      display: inline-block;
      margin-top: 50px;
    }
  }
}
