@import "../../theme";

.update-account-info-item {
  width: 290px;

  .btn-start-update {
    font-size: 14px;
    color: #e4007f;
    text-decoration: underline;
    font-style: italic;
  }

  .input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-input, .ant-select {
      width: 220px;
    }
    .btn-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 30px;
      font-size: 15px;
      color: #fff;
      background-color: #e4007f;
      border-radius: 15px;
      text-align: center;
    }
  }
}
